@charset "UTF-8";

/* <!--forumClassify --> */

.classify-enter a{
/* 	border-style:outset; */
	border-width: 15px;
	background-color:#FFF;
	color : #dbcf83;
	list-style-type:none;
	font-size:30px;
 	text-align:center; 
 	font-family: Microsoft JhengHei;
	list-style-type:none;
	
	
}
